<mat-nav-list>
  <mat-list-item>
    <mat-icon mat-list-icon>credit_card</mat-icon>
    <div mat-line>Digital Card</div>
    <div mat-line class="secondary">Simplified choice and relationship</div>
    <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
    <div mat-line>Deposit</div>
    <div mat-line class="secondary">Effective Rate 11.41 %</div>
    <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>percent</mat-icon>
    <div mat-line>Loan</div>
    <div mat-line class="secondary">For any purpose</div>
    <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
  </mat-list-item>
</mat-nav-list>
