<main>
  <section class="whole-form-window">
    
    <div class="form-container">
      <a href="../intro" class="arrow-btn"><img src="assets/micro-task/icons/arrow-left.png" alt="arrow-left"></a>

      <div class="whts-email">
        What's your EMAIL
      </div>

      <mat-form-field style="width: 290px !important;">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required
        />
        @if (email.invalid) {
          <mat-error>{{errorMessage()}}</mat-error>
        }
      </mat-form-field>


      <mat-form-field class="form-box-style">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button type="submit" class="cont-btn">Continue</button>
  </section>
</main>
