.whole-form-window {
  margin: 0;
  padding: 0;
  width: 320px;
  justify-content: center;
  margin: 5px auto 0 auto;
  font-family: Montserrat, Arial;
}

.whts-email {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: #1F1F1F;
  margin: 100px 0 30px 10px;

}

.form-container {
  margin-left: 10px;
}

.mdc-text-field {
  border: solid #B0B0B0 1px;
  //border-radius: 100px !important;
  
  height: Hug (52px)px !important;
  border-radius: 8px !important;
  border: 1px 0px 0px 0px !important;
  }

  .mdc-text-field  {
    margin-right: 50px !important;
  }

