.whole-form-window {
  margin: 0;
  padding: 0;
  width: 320px;
  margin: 5px auto 0 auto;
  font-family: Montserrat, Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whts-email {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: #1F1F1F;
  margin: 50px 0 30px 0px;

}

.form-container {
  margin-left: 10px;
  margin-top: 50px;
}

.mdc-text-field {
  border: solid #B0B0B0 1px;
  //border-radius: 100px !important;
  
  height: Hug (52px)px !important;
  border-radius: 8px !important;
  border: 1px 0px 0px 0px !important;
  }

  .mdc-text-field  {
    margin-right: 47px !important;
  }

  .cont-btn {
    display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 280px;
  height: 43px;
  padding: 10px;
  gap: 10px;
  background-color: #3C82F5;
  color: #FFFFFF;
  border-radius: 21.5px;
  margin-top: 80px;
  cursor: pointer;
  transition: background-color 0.13s ease-in-out;
  }

