<footer>
  <div class="footer-content">
    <div class="footer-column">
      <div class="footer-section text-left">
        <h3>Quick Links</h3>
        <a href="#">Campaigns</a>
        <a href="#">Accounts</a>
        <a href="#">Profits</a>
        <a href="#">Notifications</a>
        <a href="#">FAQ</a>
      </div>
      <div class="footer-section text-left">
        <h3>Who we are</h3>
        <a href="#">About Us</a>
        <a href="#">Accounts</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contacts</a>
        <a href="#">Map</a>
      </div>
    </div>
    <div class="footer-column flex-column w-full">
      <div class="footer-section">
        <h3>Cypherfund</h3>
        <p>Your Home For Digital Entertainment</p>
      </div>
      <div class="footer-section">
        <h3>Get in Touch</h3>
        <p><span class="material-icons">place</span> Douala, Cameroon</p>
        <p><span class="material-icons">phone</span> +237 650 931 636</p>
        <p><span class="material-icons">email</span> asobingai&#64;gmail.com</p>
        <p><span class="material-icons">alternate_email</span> &#64;asobingai</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&#64; Cypherfund 2023</p>
  </div>
</footer>
