<div class="transactions-container">
  <header class="header">
    <div class="header-content">
      <h1>Hello {{ userService.user.username}},</h1>
      <div class="flex justify-content-between align-items-center">
        <p>Your Available Balance</p>
        <h2><b>{{ userService.totalBalance | currency: 'XAF' }}</b> </h2>
      </div>
    </div>
  </header>
  <div class="navigation">
    <div class="nav-item"> <mat-icon>currency_exchange</mat-icon> <p>Withdraw</p></div>
    <div class="nav-item"> <mat-icon (click)="openBottomSheet()">account_balance_wallet</mat-icon> <p>Deposit</p> </div>
    <div class="nav-item"> <mat-icon>history</mat-icon><p>History</p> </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Tickets">
      <div class="transactions-header">
        <div class="filters">
          <mat-form-field appearance="outline">
            <mat-label>Bet type</mat-label>
            <mat-select [(value)]="selectedBetType">
              <mat-option value="all">All</mat-option>
              <mat-option value="open">Open</mat-option>
              <mat-option value="won">Won</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Period</mat-label>
            <mat-select [(value)]="selectedPeriod">
              <mat-option value="lastTwoWeeks">Last two weeks</mat-option>
              <mat-option value="lastMonth">Last month</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Range: Start</mat-label>
            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>End</mat-label>
            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>

          <button mat-raised-button color="primary w-full" (click)="searchTransaction()">SEARCH</button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="transactions-list">
        <ng-container *ngFor="let transaction of transactions$ | async">
          <div class="transaction-item" [ngClass]="{'pending': transaction.status === 'PENDING', 'won': transaction.status === 'WON', 'lost': transaction.status === 'LOST', 'cashout': transaction.status === 'CASHOUT'}">
            <div class="transaction-header" (click)="toggleDetails(transaction)">
              <div class="transaction-info">
                <b>{{ transaction.betType}}</b>
                <p>ID: {{ transaction.id }}</p>
                <p>{{ transaction.createdAt | date: 'short' }}</p>
              </div>
              <div class="transaction-amount">
                <p>Total: {{ transaction.finalWinnings | currency }}</p>
                <p>Odds: {{ transaction.odds }}</p>
              </div>
            </div>
            <div class="transaction-details" *ngIf="transaction.showDetails">
              <div *ngFor="let bet of transaction.betItems">
                <p><strong>{{ bet.eventName }}</strong></p>
                <p>Choice: {{ bet.outcomeId }}</p>
                <p>Odds: {{ bet.odds}}</p>
                <p>Status: {{ bet.status}}</p>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab label="Deposits"> Deposits </mat-tab>
    <mat-tab label="Withdrawals"> Withdrawals</mat-tab>
  </mat-tab-group>

</div>
