<div class="transactions-container">
  <div class="balance-section">
    <div class="balance-info">
      <h2 class="text-left">Balance</h2>
      <h1 class="text-left">{{ userService.totalBalance | currency: 'XAF' }} </h1>
    </div>
    <div class="actions">
      <div class="example-button-container">
        <button mat-raised-button class="nav-btn deposit" color="primary" (click)="deposit(1000)">
          <mat-icon>business_center</mat-icon>
          Deposit
        </button>
        <button mat-raised-button class="nav-btn" color="accent" (click)="withdraw(1000)">
          <mat-icon>outbound</mat-icon>
          Withdraw
        </button>
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Tickets">
      <div class="transactions-header">
        <div class="filters">
          <mat-form-field appearance="outline">
            <mat-label>Bet type</mat-label>
            <mat-select [(value)]="selectedBetType">
              <mat-option value="all">All</mat-option>
              <mat-option value="open">Open</mat-option>
              <mat-option value="won">Won</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Period</mat-label>
            <mat-select [(value)]="selectedPeriod">
              <mat-option value="lastTwoWeeks">Last two weeks</mat-option>
              <mat-option value="lastMonth">Last month</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Range: Start</mat-label>
            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>End</mat-label>
            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>

          <button mat-raised-button color="primary w-full" (click)="search()">SEARCH</button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="transactions-list">
        <ng-container *ngFor="let transaction of transactions$ | async">
          <div class="transaction-item" [ngClass]="{'pending': transaction.status === 'PENDING', 'won': transaction.status === 'WON', 'lost': transaction.status === 'LOST', 'cashout': transaction.status === 'CASHOUT'}">
            <div class="transaction-header" (click)="toggleDetails(transaction)">
              <div class="transaction-info">
                <b>{{ transaction.type}}</b>
                <p>ID: {{ transaction.id }}</p>
                <p>{{ transaction.createdAt | date: 'short' }}</p>
              </div>
              <div class="transaction-amount">
                <p>Total: {{ transaction.totalAmount | currency }}</p>
                <p>Odds: {{ transaction.totalOdds }}</p>
              </div>
            </div>
            <div class="transaction-details" *ngIf="transaction.showDetails">
              <div *ngFor="let bet of transaction.bets">
                <p><strong>{{ bet.betType }}</strong></p>
                <p>Potential Winnings: {{ bet.potentialWinnings | currency }}</p>
                <p>Tax Amount: {{ bet.taxAmount | currency }}</p>
                <p>Final Winnings: {{ bet.finalWinnings | currency }}</p>
                <p>Stake: {{ bet.amount | currency }}</p>
                <p>Status: {{ bet.status }}</p>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab label="Deposits"> Deposits </mat-tab>
    <mat-tab label="Withdrawals"> Withdrawals</mat-tab>
  </mat-tab-group>

</div>
