.transactions-container {
  padding: 20px;
  padding-top: unset;
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 400px;
  margin: auto;
  .transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    h2 {
      margin: 0;
    }

    .filters {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      mat-form-field {
        width: 45%;
      }

      button {
        align-self: flex-end;
      }
    }
    ::ng-deep .mat-mdc-raised-button:not(:disabled), .mat-mdc-raised-button {
      border-radius: 5px !important;
      color: white !important;
      background-color: #699BF7 !important;
    }
  }

  .mat-divider {
    border-top-color: #02102b;
    border-top-width: 2px;
  }
}

.header-content h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5;
  color: #666;
}

.header-content p {
  margin: 5px 0;
  color: #666;
}

.header-content h2 {
  margin: unset;
  font-size: 1.5em;
  color: #02102b;
}

.navigation {
  display: flex;
  justify-content: space-around;
  background-color: #02102b;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline ,
.mat-mdc-tab.mdc-tab--active:hover .mdc-tab-indicator__content--underline {
  border-color: #02102b !important;
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #d2dbd6;

  mat-icon {
    font-size: 2.6rem;
    width: 4rem;
    height: 2.6rem;
    color: white;
  }
}

.bills-table {
  min-width: fit-content;

  .mat-header-cell {
    color: gray;
    font-size: 12px;
  }

  .mat-cell {
    font-size: 14px;
  }
  /* Set max-width for the first column */
  .expand {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." if content overflows */
  }

  .ticket-status{
    max-width: 90px;
  }
  .date{
    width: 145px;
  }

  .expand{
    width: 50px;
  }
  .status {
    color: orange;
  }

  .chat-icon {
    color: green;
    margin-left: 10px;
  }

  button.mat-icon-button {
    color: green;
  }

  tr.example-detail-row {
    height: 0;
  }

  .expanded-row {
    background: #f1f1f1;
    font-size: 14px;
    color: #333;
    border: 0;

    .bet-items {
      padding: 10px;

      .bet-item {
        border-bottom: 1px solid #ccc;
        padding: 5px 0;

        p {
          margin: 5px 0;
        }
      }
    }
  }
}

::ng-deep .mat-mdc-card {
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%;
  overflow-y: auto;
  min-height: 400px;
}
