<div class="password-reset-container">
  <div class="card">
    <div class="icon-container">
      <mat-icon>vpn_key</mat-icon>
    </div>
    <h2>Set your new password</h2>
    <p>Your new password should be different from passwords previously used.</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Enter new password" type="password" />
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm your new password</mat-label>
        <input matInput formControlName="confirmPassword" placeholder="Confirm new password" type="password" />
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
          Confirm your password
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.hasError('passwordMismatch')">
          Passwords do not match
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary w-full" type="submit" [disabled]="resetPasswordForm.invalid">
        Confirm
      </button>
    </form>
    <a routerLink="../../" class="return-link">← Go back to profile</a>
  </div>
</div>
