.password-reset-container {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.icon-container {
  background: #c0d4f9;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
}

mat-icon {
  font-size: 25px;
  color: #699BF7;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.return-link {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: #699BF7;
  text-decoration: none;
}

.return-link:hover {
  text-decoration: underline;
}

::ng-deep .mat-mdc-raised-button:not(:disabled) {
  border-radius: 5px !important;
  color: white !important;
  background-color: #699BF7 !important;
}
