.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .profile-details {
    margin-top: 20px;
  }

  .profile-card {
    max-width: 600px;
    margin: 0 auto;
  }

  .profile-avatar {
    background-image: url('/assets/housemat-1.png');
    background-size: cover;
  }

  mat-card-title, mat-card-subtitle, p {
    margin: 0;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
}


.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .balance-section {
    text-align: center;
    margin-bottom: 40px;

    h2 {
      margin-bottom: 20px;
    }

    button {
      margin: 0 10px;
    }
  }

  .transactions-section {
    .transaction-card {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-bottom: 20px;

      h3 {
        margin-top: 0;
      }

      .bet-details {
        padding: 10px;
        border: 1px dashed #ccc;
        border-radius: 5px;
        margin-bottom: 10px;

        p {
          margin: 5px 0;
        }
      }
    }
  }
}
