<div class="earn-coins-container">
  <header class="header">
    <div class="header-content">
      <mat-icon class="user-icon" *ngIf="(headerService.headerLeftIcon$ | async) === 'account_circle'" routerLink="/">account_circle</mat-icon>
      <mat-icon class="user-icon" *ngIf="(headerService.headerLeftIcon$ | async) === 'arrow_back'" routerLink="buy-likes">arrow_back</mat-icon>
      <h1>{{headerService.headerTitle$ | async}}</h1>
      <div class="coins">
        <span>{{ headerService.userCoins }}</span>
        <mat-icon>monetization_on</mat-icon>
      </div>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
  <nav class="bottom-nav">
<!--    <mat-divider></mat-divider>-->
    <mat-nav-list>
      <a mat-list-item routerLink="earn-coins" routerLinkActive="active-link">
        <mat-icon>monetization_on</mat-icon>
      </a>
      <a mat-list-item routerLink="buy-likes" routerLinkActive="active-link">
        <mat-icon>favorite</mat-icon>
      </a>
      <a mat-list-item routerLink="buy-followers" routerLinkActive="active-link">
        <mat-icon>person</mat-icon>
      </a>
      <a mat-list-item routerLink="buy-coins" routerLinkActive="active-link">
        <mat-icon>storefront</mat-icon>
      </a>
    </mat-nav-list>
  </nav>
</div>
