<mat-card class="categories-section">
  <mat-card-title>HOT EVENTS</mat-card-title>
  <mat-card-subtitle>Predict on the some of the hottest events this week</mat-card-subtitle>
  <div class="categories">
    <mat-card class="category-item" *ngFor="let event of events$ | async">
      <div class="category-content" (click)="selectEvent(event)">
        <span>{{ event.name }}</span>
        <mat-icon>chevron_right</mat-icon>
      </div>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" class="see-all-btn">See all</button>
</mat-card>
