<div class="profile-card">
  <div class="profile-pic">
    <mat-icon class="profile-icon">account_circle</mat-icon>
  </div>
  <div class="actions">
    <button mat-button color="accent" class="skip-btn">Skip</button>
    <button mat-raised-button color="primary" class="follow-btn" (click)="follow()">
      Follow +4
      <mat-icon>monetization_on</mat-icon>
    </button>
  </div>
  <div class="footer">
    <mat-icon class="game-icon left-0">sports_esports</mat-icon>
    <a class="underline">How to earn coins on TikBoost?</a>
    <div class="progress-container"  *ngIf="earnService.divWidth > 0">
      <div class="progress-div"
           [style.width.%]="earnService.divWidth"
      ></div>
      <p class="progress-text">1000 Coins $4.99</p>
    </div>
    <mat-icon class="coin-icon right-0"><img src="assets/tasks/OX8pPoBUET.gif" class="w-full"></mat-icon>
  </div>
</div>
