<section class="signup-container">
  <img class="logo" src="assets/micro-task/social-icons/logo.png" alt="logo">

  <h1 class="wlc-text">
    Welcome to Micro Tasks for flexible earning
  </h1>

  <p class="signup-sugest">Signup or <span class="ss-log-sugest">Login</span> to start picking up tasks</p>

  <div class="signup-short-cut">
    <div class="signup-btn">
      <a href="">
        <img src="assets/micro-task/social-icons/google-icon.png" alt="google-icon">
      </a>

      <p class="signup-btn-title">Sign up with Google</p>
    </div>

    <div class="signup-btn">
      <a href="">
        <img src="assets/micro-task/social-icons/facebook-ico.png" alt="facebook-ico">
      </a>
  
      <p class="signup-btn-title">Sign up with Meta</p>
    </div>
  </div>



  <mat-accordion class="dropdown-container">
    <mat-expansion-panel class="drop-con" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <!-- <mat-panel-title> Self aware panel </mat-panel-title> -->
        <mat-panel-description class="other-social-links">
           {{panelOpenState() ? 'More' : 'Less'}} social media networks
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="signup-btn dropdown" *ngFor="let socialUrl of socialLinks">
        <a href="">
          <img [src]="'assets/micro-task/social-icons/' + socialUrl.icon" [alt]="socialUrl.name">
        </a>
    
        <p class="signup-btn-title">{{ socialUrl.name}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  

  <div class="or-line">
    <div class="line"></div>
    or
    <div class="line"></div>
  </div>

  <button class="create-acc-btn">
    Create Account
  </button>

  <p class="policy-terms-link">
    By signing up, you agree to our <span class="policy-span">Terms</span> and <span class="policy-span">Privacy policy</span>
  </p>
</section>