<div class="earning-section">
  <h2>EARNING CAN BE FUN!</h2>
  <p>Earning Money is simple and fun, choose any of the tasks below and start making money.</p>
  <div class="tasks">
    <div class="task-card">
      <div class="task-header">
        <div class="task-icon-container">
          <img src="assets/task-icon.png" alt="Task Icon" class="task-icon">
        </div>
        <div class="arrow-container">
          <span class="material-icons arrow-icon">arrow_forward</span>
          <span class="earnings">Earn up to $10</span>
        </div>
      </div>
      <div class="task-content">
        <h3>Vote for your favorite BBN star</h3>
        <p>Go through a list of Big Brother Naija TV show stars and vote for who you love and think has the better shot of winning for this year's season. Vote for first and second runner-ups to increase your chances of winning.</p>
      </div>
    </div>
    <div class="task-card">
      <div class="task-header">
        <div class="task-icon-container">
          <img src="assets/task-icon.png" alt="Task Icon" class="task-icon">
        </div>
        <div class="arrow-container">
          <span class="material-icons arrow-icon">arrow_forward</span>
          <span class="earnings">Earn up to $10</span>
        </div>
      </div>
      <div class="task-content">
        <h3>Vote for your favorite BBN star</h3>
        <p>Go through a list of Big Brother Naija TV show stars and vote for who you love and think has the better shot of winning for this year's season. Vote for first and second runner-ups to increase your chances of winning.</p>
      </div>
    </div>
    <div class="task-card">
      <div class="task-header">
        <div class="task-icon-container">
          <img src="assets/task-icon.png" alt="Task Icon" class="task-icon">
        </div>
        <div class="arrow-container">
          <span class="material-icons arrow-icon">arrow_forward</span>
          <span class="earnings">Earn up to $10</span>
        </div>
      </div>
      <div class="task-content">
        <h3>Vote for your favorite BBN star</h3>
        <p>Go through a list of Big Brother Naija TV show stars and vote for who you love and think has the better shot of winning for this year's season. Vote for first and second runner-ups to increase your chances of winning.</p>
      </div>
    </div>
  </div>
</div>
