<main>
  <section class="main-container">
    <div class="text-up">
      <h1>We sent you a verification code</h1>
      <h2>Enter to verify emilyray1&#64;gmail.com</h2>
    </div>

    <div class="rest-cont">
      <div class="box-cont">

        <input id="auth-digit" type="text" [formControl]="name">
        <input id="auth-digit" type="text" [formControl]="name">
        <input id="auth-digit" type="text" [formControl]="name">
        <input id="auth-digit" type="text" [formControl]="name">
        <input id="auth-digit" type="text" [formControl]="name">
        <input id="auth-digit" type="text" [formControl]="name">

      </div>

      <h2 class="text-down">Didn’t get a code? <span>Resend Code</span></h2>
    </div>
  </section>
</main>