.container-payment {
  h4 {
    margin-bottom: unset;
  }
  mat-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    margin-bottom: 1em;
    height: 70px;

    .mat-list-icon {
      color: #555;
    }

    .secondary {
      color: #999;
      font-size: 0.8rem !important;
    }
  }
}

::ng-deep .mat-bottom-sheet-container {
  background-color: white;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  min-height: 300px;
}

::ng-deep .mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
  justify-content: start;
  position: relative;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 40px;
  --c:no-repeat linear-gradient(#699BF7 0 0);
  background: var(--c),var(--c),var(--c),var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l5 {
  0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
  33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
  66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
  100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: center;
  padding: 0 20px;
}
