<div class="password-reset-container">
  <div class="card">
    <div class="icon-container">
      <mat-icon>lock</mat-icon>
    </div>
    <h2>Forgot your password?</h2>
    <p>Enter your email to reset it!</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email" type="email" />
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
          Enter a valid email address
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary w-full" type="submit" [disabled]="forgotPasswordForm.invalid">
        Confirm
      </button>
    </form>
    <a routerLink="/login" class="return-link">← Return to the login screen</a>
  </div>
</div>
