.bets-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;

  h1 {
    text-align: center;
  }

  .bet-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px dashed #000;
    border-radius: 10px;
    background-color: #f9f9f9;

    h2 {
      margin-top: 0;
      text-align: center;
    }

    .full-width {
      width: 100%;
    }

    ul {
      padding-left: 20px;
    }
  }

  .total-section {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  button {
    display: block;
    margin: 20px auto;
  }

  h2 {
    font-size: 2rem;
  }


  ::ng-deep .mat-mdc-raised-button:not(:disabled), .mat-mdc-raised-button {
    border-radius: 5px !important;
    color: white !important;
    background-color: #699BF7 !important;
  }
}

/* Print styles */
@media print {
  .bets-container {
    width: 100%;
    margin: 0;
    padding: 0;

    .bet-section {
      border: 1px solid #000;
      page-break-inside: avoid;
    }

    .total-section, button {
      display: none;
    }
  }
}
