<ng-container *ngIf="{
selectedOutcomes: (selectedOutcome$ | async) || [],
userBalance: userService.userCurrentBalance$ | async,
paymentMethods: paymentMethods$ | async
} as observables">
  <mat-dialog-content class="bet-summary-dialog">
    <div class="bets-container">
      <h1>Your predictions</h1>
      <form [formGroup]="betsForm">
        <div formArrayName="bets" *ngFor="let betControl of betsFormArray.controls; let i = index">
          <div [formGroupName]="i" class="bet-section ticket">
            <h2>Ticket {{ i + 1 }}</h2>
            <div>
              <strong>Bet Type:</strong> {{ betControl.value.betType }}
            </div>
            <div>
              <strong>Events:</strong>
              <ul>
                <li *ngFor="let event of betControl.value.events">
                  Event: {{ event.eventId }}, Prediction: {{ event.prediction }}, Odds: {{ event.odds }}
                </li>
              </ul>
            </div>
            <div>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Stake</mat-label>
                <input matInput formControlName="amount" type="number" (input)="upateAmounts(betControl)">
              </mat-form-field>
            </div>
            <div>
              <strong>Potential Winning:</strong> {{ betControl.value.potentialWinning | currency }}
            </div>
            <div>
              <strong>Tax:</strong> {{ betControl.value.tax | currency }}
            </div>
            <div>
              <strong>Bonus:</strong> {{ betControl.value.bonus | currency }}
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </form>
      <div class="total-section">
        <h2>Pay: {{ totalStake | currency:'XAF'}}</h2>
      </div>
      <button mat-raised-button color="primary" (click)="validateBet()" class="w-full">VALIDATE</button>
      <button mat-raised-button color="primary" (click)="printTickets()" class="w-full">PRINT</button>
    </div>
    <ng-container
      *ngIf="(observables.userBalance?.dcurBalance || 0) + (observables.userBalance?.dwinBalance || 0) < totalStake">
      <h3>RECHARGE NOW</h3>
      <div class="payment-methods">
        <mat-radio-group>
          <mat-radio-button *ngFor="let method of observables.paymentMethods" [value]="method">
            <img width="50" height="50" [src]="'assets/payments/' + method.strImageUrl" alt="{{ method.strProviderName }}">
            {{ method.strProviderName }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </ng-container>
  </mat-dialog-content>
</ng-container>


