<mat-dialog-content class="bet-summary-dialog">
  <h2>BET SUMMARY - BBN</h2>
  <div class="bet-summary">
    <div class="bet-item" *ngFor="let bet of selectedOutcome$ | async">
      <div class="bet-details">
        <img [ngSrc]="bet.imgUrl || 'assets/housemat-1.jpg'"  width="50" height="50" alt="BBN Eviction" class="event-image" />
        <div class="event-info">
          <div class="event-title">{{eventDetails.name}}</div>
          <div class="participant-name">{{ bet.description }}</div>
        </div>
      </div>
      <div class="bet-odds">
        <mat-icon class="minus">arrow_drop_up</mat-icon>
        <span class="odds-value">1</span>
        <mat-icon class="plus">arrow_drop_down</mat-icon>
      </div>
      <div class="bet-amount">{{stake}} FCFA</div>
      <div class="remove-icon">
        <mat-icon (click)="removeBet(bet)">delete</mat-icon>
      </div>
    </div>
    <p>TOTAL BET: {{ stake }} FCFA</p>
    <p>TOTAL WINNING: {{ totalWinning }} FCFA</p>
    <div class="total-bet">
      <button mat-raised-button color="primary" (click)="validateBet()">VALIDATE</button>
    </div>
  </div>
  <ng-container
    *ngIf="((userService.userCurrentBalance$ | async)?.dCurBalance || 0) + ((userService.userCurrentBalance$ | async)?.dWinBalance || 0) < stake">
    <h3>RECHARGE NOW</h3>
    <div class="payment-methods">
      <mat-radio-group>
        <mat-radio-button *ngFor="let method of paymentMethods$ | async" [value]="method">
          <img [src]="'assets/payments/' + method.strImageUrl" alt="{{ method.strProviderName }}">
          {{ method.strProviderName }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </ng-container>
</mat-dialog-content>
