
.btn.btn-primary {
  margin: 0 10%;
}

.p-button-success {
  background-color: var(--main-color-shade-1) !important;
  border-radius: 10px;
  color: var(--color-white) !important;
  width: 100%;
  justify-content: center;
}

 ngbutton:disabled {
  background-color: var(--main-color-shade-1);
  border-radius: 10px;
  color: var(--color-white) ;
}


.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.summary {
  margin: 20px 0;
  text-align: right;
}

button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #ff5714;
}

