<div class="get-likes-container">
  <div class="cover-selector">
    <div *ngFor="let cover of coverImages" class="cover-image"
         [ngStyle]="{'background': 'url(' + cover + ')'+ ', '+ 'rgba(0, 0, 0, 0.5)', 'background-size': 'cover', 'background-position': 'center'  }">
    </div>
  </div>

  <div class="url-input-container">
    <p class="text-left">Select cover or past your tiktok Video Url</p>
    <mat-form-field appearance="outline" class="url-input">
      <mat-label>Video URL</mat-label>
      <input matInput placeholder="Paste your TikTok video URL" [(ngModel)]="videoUrl">
      <button mat-icon-button matSuffix (click)="clearUrl()">
        <mat-icon>link_off</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="instructions">
    <a href="#" class="instruction-link">How to find your TikTok Video URL?</a>
  </div>

  <button mat-raised-button color="primary" class="continue-btn" routerLink="../promote">
    Continue
  </button>

  <div class="lucky-draw-container">
    <img width="350px" height="auto" src="assets/tasks/draw-caption.png" alt="Lucky Draw">
  </div>
</div>
