.get-likes-container {
  text-align: center;
  padding: 16px;

  .cover-selector {
    margin: 16px 0;
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    overflow-y: hidden;

    .cover-image {
      min-width: 100px;
      background: rgba(0, 0, 0, 0.5);
      padding: 8px;
      height: 120px;
    }
  }

  .url-input-container {
    margin: 16px 0;

    .url-input {
      width: 100%;

      .mat-form-field-appearance-outline .mat-form-field-outline {
        color: white;
      }
      /* Font color */
      input.mat-input-element {
        color: white;
      }
    }
  }

  .instructions {
    margin: 16px 0;

    .instruction-link {
      text-decoration: underline;
      color: gray;
    }
  }

  .continue-btn {
    width: 55%;
    padding: 12px;
    font-size: 18px;
    background-color: #ff6a63;
    color: white;
    border-radius: 24px;
  }

  .lucky-draw-container {
    text-align: center;
    margin-top: 16px;

    .lucky-draw-image {
      width: 100%;
      border-radius: 12px;
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Customize the track (the empty space of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Default track color */
    border-radius: 5px;
    border: 1px solid gray;
  }

  /* Customize the scrollbar handle (the part you drag) */
  ::-webkit-scrollbar-thumb {
    background-color: #ff6a63; /* Scrollbar color */
    border-radius: 10px;
  }

  /* Hover effect for the scrollbar handle */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color on hover */
  }
}
