/* campaign styles here */
main {
  max-width: 400px;
  margin: auto;
}
.campaigns-section {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.campaigns-section h2 {
  font-size: 24px;
  margin-bottom: unset;
}

.campaigns-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.campaigns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.see-more-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #699BF7;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.see-more-btn:hover {
  background-color: #303f9f;
}
