<main>
  <br>
  <app-home-carousel></app-home-carousel>
  <br/>
  <div class="campaigns-section">
    <h2>CAMPAIGNS</h2>
    <p>Welcome to Cypherfund, where the game begins.</p>
    <div class="campaigns">
      <app-campaign-card *ngFor="let game of topTournaments$ | async" [tournament]="game" (selectedGame)="selectTournament($event)" ></app-campaign-card>
      <app-campaign-card *ngFor="let game of otherGames" [tournament]="game" (selectedGame)="selectTournament($event)" ></app-campaign-card>
    </div>
    <button class="see-more-btn">See more</button>
  </div>
  <br/>
  <app-earnings></app-earnings>
  <br>
  <app-task-center></app-task-center>
  <br>
</main>

