section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up {
  margin-bottom: -450px;
  animation: up 0.5s linear 0s 1 forwards;
  position: relative;
  width: 250px;
}

.down {
  margin-top: -450;
  animation: down 0.5s linear 0s 1 forwards;
  position: relative;
  width: 250px;
}

@keyframes up {
  0%{
    
    top: 0;
    right: 0;
  }
  100% {
    top: -32vh;
    right: 20vw;
  }
}

@keyframes down {
  0%{
    position: relative;
    top: 0;
    right: 0;
  }
  100% {
    top: 32vh;
    right: -20vw;
  }
}

.logo {
  width: 300px;
  position: relative;
  left: -100vw;
  animation: logo 0.5s linear 0s 1 forwards;
}

@keyframes logo {
  0%{
    position: relative;
    left: -50vw;
    top: 20vh;
  }
  100% {
    left: 0;
    top: 20vh;
  }
}

